@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Hedvig+Letters+Serif:opsz@12..24&family=Kanit:wght@600&family=Oswald:wght@500;700&family=Ubuntu:wght@500&display=swap');

body {
  /* Change to something you like, but please do customize the font! */
font-family: 'Amatic SC', sans-serif;
font-family: 'Hedvig Letters Serif', serif;
font-family: 'Kanit', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Ubuntu', sans-serif;
  line-height: 1.4;
  background-color: #FFFDD0;
  color: #4b4949;
}

#Projects-title {
  font-size: 50px;
  text-align: center;
}

nav {
  font-size: 20px;
  display: flex;
  gap: 16px;
  padding: 16px;
}
nav a {
  text-decoration: none;
  color: #333;
  transition: color 350ms;
}
nav:hover a {
  color: #888;
}
nav a:hover {
  color: rgb(0, 0, 0);
}


#projects {
  background-color: #FFFDD0;
}


section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 15px;
  box-sizing: border-box;
}

.section-content {
  text-align: center;
  padding: 15px;
  background-color: #faf7c4;
  box-shadow: 0 0 15px 1px #000000;
  max-width: 90%;
}

h1 {
  font-family: Rufina;
  font-size: 2.5em;
}

.project-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-between;
}

.project-tile {
  flex-basis: 250px;
  width: 20%;
  padding: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background: #a3a3a3;
  box-shadow: 0 0 15px #c43c00;
  text-align: center;
}

.project-tile:hover {
  transform: scale(1.1);
  z-index: 9;
}

.tile-details {
  position: relative;
}

.tile-image {
  width: 100%;
}


